<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.orderservice.mapper.OrderMapper">

    <resultMap id="OrderWithItemsResultMap" type="com.example.orderservice.model.Order">
        <id property="id"
            column="order_id"
            typeHandler="com.example.orderservice.typehandler.UUIDTypeHandler"/>

        <result property="customerEmail" column="customer_email"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>

        <collection property="items" resultMap="com.example.orderservice.mapper.OrderItemMapper.OrderItemJoinResultMap"/>
    </resultMap>

    <resultMap id="OrderResultMap" type="com.example.orderservice.model.Order">
        <id property="id" column="id" typeHandler="com.example.orderservice.typehandler.UUIDTypeHandler"/>
        <result property="customerEmail" column="customer_email"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertOrder">
        INSERT INTO orders (
        id,
        customer_email,
        amount,
        status,
        created_at
        )
        VALUES (
        #{order.id,typeHandler=com.example.orderservice.typehandler.UUIDTypeHandler},
        #{order.customerEmail},
        #{order.amount},
        #{order.status,jdbcType=VARCHAR},
        #{order.createdAt}
        )
    </insert>

    <insert id="insertOrderItem">
        INSERT INTO order_items (
        id,
        order_id,
        product_code,
        quantity,
        unit_price
        )
        VALUES (
        #{item.id,typeHandler=com.example.orderservice.typehandler.UUIDTypeHandler},
        #{item.orderId,typeHandler=com.example.orderservice.typehandler.UUIDTypeHandler},
        #{item.productCode},
        #{item.quantity},
        #{item.unitPrice}
        )
    </insert>

    <select id="findById"
            parameterType="java.util.UUID"
            resultType="com.example.orderservice.model.Order">
        SELECT
        id,
        customer_email,
        amount,
        status,
        created_at
        FROM orders
        WHERE id = #{id,typeHandler=com.example.orderservice.typehandler.UUIDTypeHandler}
    </select>

    <select id="findByIdWithItems" resultMap="OrderWithItemsResultMap">
        SELECT
        o.id AS order_id,
        o.customer_email,
        o.amount,
        o.status,
        o.created_at,

        i.id AS item_id,
        i.order_id,
        i.product_code,
        i.quantity,
        i.unit_price
        FROM orders o
        LEFT JOIN order_items i ON i.order_id = o.id
        WHERE o.id = #{id,typeHandler=com.example.orderservice.typehandler.UUIDTypeHandler}
    </select>

</mapper>